body {
  font-family: "helvetica neue";
}

#board {
  width: 100%;
  min-height: 640px;
}

.floor-cell {
  stroke: none;
  fill: hsl(150, 50%, 80%);
}

.guy-cell {
  stroke: none;
  fill: hsl(30, 50%, 50%);
}
